/* Start Main Var */
/* End Main Var */
/* Start Classes For Extends */
nav .auth a, .provider-nav .categories ul li, .provider-nav .sharing button, .provider-nav .sharing > svg, .provider-ui .rating, .provider-content .provider-promo button svg {
  transition: all 0.3s linear;
}

.landing header .overlay, .provider-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.landing header, .provider-header {
  background-size: cover;
}

.provider-content .provider-features div ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.provider-content .provider-features div ul li {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 30px;
}

/* End Classes For Extends */
/* Start Main Components */
nav {
  background-color: #2e3f6e;
  height: 10vh;
  line-height: 10vh;
}

nav .brand {
  float: left;
  color: #4db7fe;
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 5px;
}

nav .brand span {
  color: #fff;
}

nav .brand svg {
  color: #fff;
  margin-right: -11px;
  margin-bottom: -15px;
  font-size: 60px;
}

nav .auth {
  float: right;
}

nav .auth a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

nav .auth a:hover {
  color: #4db7fe;
}

nav .auth a svg {
  margin-right: 7px;
}

nav .auth span {
  color: #fff;
}

.filter-search {
  margin: 50px auto;
}

.filter-search .first {
  width: 100%;
}

.filter-search .first > div {
  float: left;
  margin-right: 20px;
  width: 31%;
}

.filter-search .second {
  width: 100%;
}

.filter-search .second > div {
  float: left;
  margin-right: 20px;
  width: 31%;
}

/* End Main Components */
/* =============================== Start Landing Page =============================== */
.landing header {
  height: 90vh;
  background-image: url("../src/images/1.jpg");
  position: relative;
}

.landing header .overlay {
  color: #fff;
  text-align: center;
}

.landing header .overlay h1 {
  font-size: 46px;
  line-height: 70px;
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 25vh;
}

.landing header .overlay h3 {
  font-size: 12px;
  font-weight: 600;
}

.landing header .search-bar {
  width: 80%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  height: 10vh;
  margin: auto;
  margin-top: 60px;
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3);
}

.landing header .search-bar div {
  float: left;
  width: 25%;
}

.landing header .search-bar div input {
  outline: none;
  border: none;
}

/* =============================== End Landing Page =============================== */
/* =============================== Start Map Page =============================== */
.map-header {
  height: 90vh;
  background-color: #ccc;
}

/* =============================== End Map Page =============================== */
/* =============================== Start Provider Page =============================== */
.provider-header {
  height: 80vh;
  background-image: url("./images/6.jpg");
  position: relative;
}

.provider-header .overlay {
  color: #fff;
}

.provider-header .MuiContainer-root {
  position: absolute;
  bottom: 0;
  left: 2vw;
}

.provider-nav {
  height: 10vh;
  line-height: 10vh;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 70px;
}

.provider-nav .categories {
  float: left;
  border-right: 1px solid #ddd;
  padding-right: 20px;
}

.provider-nav .categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.provider-nav .categories ul li {
  display: inline-block;
  margin-right: 50px;
  color: #7d93b2;
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.provider-nav .categories ul li svg {
  margin-right: 7px;
}

.provider-nav .categories ul li:hover {
  color: #4db7fe;
}

.provider-nav .sharing {
  float: right;
}

.provider-nav .sharing button {
  background: #2e3f6e;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
}

.provider-nav .sharing button:not(:last-child) {
  margin-right: 10px;
}

.provider-nav .sharing button svg {
  color: #4db7fe;
  margin-right: 10px;
}

.provider-nav .sharing button:hover {
  background-color: #4db7fe;
}

.provider-nav .sharing button:hover svg {
  color: #2e3f6e;
}

.provider-nav .sharing > svg {
  cursor: pointer;
  color: #7d7d7d;
}

.provider-nav .sharing > svg:hover {
  color: #2e3f6e;
}

.provider-info {
  float: left;
  margin-bottom: 25px;
}

.provider-info span {
  margin-right: 15px;
}

.provider-info span svg {
  margin-right: 10px;
  color: #4db7fe;
}

.provider-ui {
  width: 100%;
}

.provider-ui .rating {
  float: right;
  border-radius: 50px;
  padding: 10px 10px 0;
  width: 250px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
}

.provider-ui .rating div {
  float: left;
}

.provider-ui .rating div:first-child {
  border-radius: 50%;
  background-color: #2e3f6e;
  padding: 15px;
  font-weight: 700;
  margin-right: 20px;
}

.provider-ui .rating .chat svg {
  float: right;
  font-size: 46px;
  color: rgba(255, 255, 255, 0.2);
  margin-left: 25px;
}

.provider-ui .rating svg {
  font-size: 20px;
  display: block;
}

.provider-ui .rating:nth-child(2) p {
  margin-top: 0px;
}

.provider-ui .rating:hover {
  background-color: rgba(6, 27, 65, 0.45);
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #5f5f5f;
  margin-top: 20px;
}

.provider-bottom-header p {
  float: right;
  border: 1px dashed rgba(255, 255, 255, 0.21);
  background: rgba(255, 255, 255, 0.11);
  color: #fff;
  display: block;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 4px;
}

.provider-bottom-header p:not(:first-child) svg {
  color: #4db7fe;
  margin-right: 7px;
}

.provider-bottom-header p:nth-child(3) {
  margin-right: 20px;
}

.provider-bottom-header p:first-child {
  float: left;
  margin-bottom: 10px;
  line-height: 30px;
  border: none;
  background: none;
}

.provider-bottom-header p:first-child svg {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: #f75c96;
}

.provider-content {
  float: left;
  width: 60%;
  margin-right: 5%;
}

.provider-content .provider-promo {
  width: 100%;
  border-radius: 10px;
  background-image: url(./images/48.jpg);
  background-size: cover;
  height: 80vh;
  position: relative;
  margin-bottom: 40px;
}

.provider-content .provider-promo button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
  color: #7d93b2;
  padding: 10px 20px;
  border-radius: 50px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.provider-content .provider-promo button svg {
  margin-right: 30px;
  border-radius: 50%;
  padding: 10px;
  background-color: #4db7fe;
  color: #fff;
  margin-bottom: -9px;
}

.provider-content .provider-promo button span {
  padding: 10px 10px 10px 0px;
  display: inline-block;
  margin-bottom: 0;
}

.provider-content .provider-promo button:hover svg {
  background-color: #2e3f6e;
}

.provider-content .provider-description, .provider-content .provider-features, .provider-content .provider-photos {
  margin-bottom: 40px;
}

.provider-content .provider-description div, .provider-content .provider-features div, .provider-content .provider-photos div {
  padding: 15px;
}

.provider-content .provider-description div p, .provider-content .provider-features div p, .provider-content .provider-photos div p {
  color: #878c9f;
}

.provider-content .provider-description div:first-child, .provider-content .provider-features div:first-child, .provider-content .provider-photos div:first-child {
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  color: #566985;
  font-size: 15px;
  font-weight: 600;
}

.provider-content .provider-description div:first-child svg, .provider-content .provider-features div:first-child svg, .provider-content .provider-photos div:first-child svg {
  float: right;
  font-size: 10px;
  color: #4db7fe;
  margin-top: 7px;
}

.provider-content .provider-description div:last-child, .provider-content .provider-features div:last-child, .provider-content .provider-photos div:last-child {
  border: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
  border-top: none;
}

.provider-content .provider-description button, .provider-content .provider-features button, .provider-content .provider-photos button {
  background-color: #2e3f6e;
  border: none;
  padding: 15px 25px;
  color: #fff;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}

.provider-content .provider-description button svg, .provider-content .provider-features button svg, .provider-content .provider-photos button svg {
  color: #4db7fe;
  margin-left: 15px;
}

.provider-content .provider-features div ul li {
  color: #878c9f;
}

.provider-content .provider-features div ul li svg {
  color: #4db7fe;
}

.provider-content .provider-single-fact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.provider-content .provider-single-fact > div {
  background-color: #4db7fe;
  border-radius: 10px;
  width: 26%;
  padding: 20px;
}

.provider-content .provider-single-fact > div .fac {
  float: left;
  width: 73%;
  color: #fff;
}

.provider-content .provider-single-fact > div .fac p {
  font-size: 40px;
  font-weight: 700;
  margin: -10px 0 -15px;
}

.provider-content .provider-single-fact > div .icon {
  float: left;
  width: 24%;
  color: rgba(255, 255, 255, 0.21);
  font-size: 50px;
  margin-left: 3%;
}

.provider-sidebar {
  float: left;
  width: 35%;
  background-color: #ddd;
}

.provider-content > div:not(:first-child) {
  display: none;
}

/* =============================== End Provider Page =============================== */
