/* Start Main Var */
$floatLeft: left;
$floatRight: right;
$mainColor: #2e3f6e;
$mainHover: #4db7fe;
$mainOverLayColor: rgba(0, 0, 0, 0.6);
$ratingHover: rgba(6, 27, 65, 0.45);
/* End Main Var */
/* Start Classes For Extends */
%transition {
  transition: all 0.3s linear;
}
%overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $mainOverLayColor;
}
%cover {
  background-size: cover;
}
%ulStyle {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 25px;
      margin-bottom: 30px;
    }
  }
}
@mixin boxShadow($val) {
  box-shadow: 0px 0px 0px $val rgba(255, 255, 255, 0.3);
}
/* End Classes For Extends */

/* Start Main Components */

// Navbar
nav {
  .brand {
    float: $floatLeft;
    color: $mainHover;
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 5px;
    span {
      color: #fff;
    }
    svg {
      color: #fff;
      margin-right: -11px;
      margin-bottom: -15px;
      font-size: 60px;
    }
  }
  .auth {
    float: $floatRight;
    a {
      text-decoration: none;
      color: #fff;
      margin: 0 10px;
      @extend %transition;
      &:hover {
        color: $mainHover;
      }
      svg {
        margin-right: 7px;
      }
    }
    span {
      color: #fff;
    }
  }
  background-color: $mainColor;
  height: 10vh;
  line-height: 10vh;
}

//Filter Search
.filter-search {
  margin: 50px auto;
  .first {
    width: 100%;
    > div {
      float: left;
      margin-right: 20px;
      width: 31%;
    }
  }
  .second {
    width: 100%;
    > div {
      float: left;
      margin-right: 20px;
      width: 31%;
    }
  }
}

/* End Main Components */
/* =============================== Start Landing Page =============================== */

.landing {
  header {
    height: 90vh;
    background-image: url('../src/images/1.jpg');
    position: relative;
    @extend %cover;
    .overlay {
      @extend %overlay;
      color: #fff;
      text-align: center;
      h1 {
        font-size: 46px;
        line-height: 70px;
        font-weight: 900;
        margin-bottom: 10px;
        margin-top: 25vh;
      }
      h3 {
        font-size: 12px;
        font-weight: 600;
      }
    }
    .search-bar {
      width: 80%;
      background-color: #fff;
      color: #000;
      border-radius: 10px;
      height: 10vh;
      margin: auto;
      margin-top: 60px;
      div {
        float: left;
        width: (100% / 4);
        input {
          outline: none;
          border: none;
        }
      }
      @include boxShadow(8px);
    }
  }
}

/* =============================== End Landing Page =============================== */

/* =============================== Start Map Page =============================== */

.map-header {
  height: 90vh;
  background-color: #ccc;
}

/* =============================== End Map Page =============================== */

/* =============================== Start Provider Page =============================== */

.provider-header {
  height: 80vh;
  background-image: url('./images/6.jpg');
  position: relative;
  @extend %cover;
  .overlay {
    @extend %overlay;
    color: #fff;
  }
  .MuiContainer-root {
    position: absolute;
    bottom: 0;
    left: 2vw;
  }
}
.provider-nav {
  height: 10vh;
  line-height: 10vh;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 70px;
  .categories {
    float: $floatLeft;
    border-right: 1px solid #ddd;
    padding-right: 20px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 50px;
        color: #7d93b2;
        font-size: 13px;
        font-weight: 800;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        @extend %transition;
        svg {
          margin-right: 7px;
        }

        &:hover {
          color: $mainHover;
        }
      }
    }
  }
  .sharing {
    float: $floatRight;
    button {
      background: $mainColor;
      border: none;
      color: #fff;
      padding: 10px 25px;
      border-radius: 8px;
      cursor: pointer;
      @extend %transition;
      &:not(:last-child) {
        margin-right: 10px;
      }
      svg {
        color: $mainHover;
        margin-right: 10px;
      }
      &:hover {
        background-color: $mainHover;

        svg {
          color: $mainColor;
        }
      }
    }
    > svg {
      cursor: pointer;
      @extend %transition;
      color: #7d7d7d;
      &:hover {
        color: $mainColor;
      }
    }
  }
}

.provider-info {
  float: $floatLeft;
  margin-bottom: 25px;
  span {
    margin-right: 15px;
    svg {
      margin-right: 10px;
      color: $mainHover;
    }
  }
}

.provider-ui {
  width: 100%;
  .rating {
    float: $floatRight;
    div {
      float: $floatLeft;
    }
    div:first-child {
      border-radius: 50%;
      background-color: $mainColor;
      padding: 15px;
      font-weight: 700;
      margin-right: 20px;
    }
    border-radius: 50px;
    padding: 10px 10px 0;
    width: 250px;
    @extend %transition;
    cursor: pointer;
    @include boxShadow(4px);
    .chat svg {
      float: $floatRight;
      font-size: 46px;
      color: rgba(255, 255, 255, 0.2);
      margin-left: 25px;
    }
    svg {
      font-size: 20px;
      display: block;
    }
    &:nth-child(2) p {
      margin-top: 0px;
    }
    &:hover {
      background-color: $ratingHover;
    }
  }
}
hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgb(95, 95, 95);
  margin-top: 20px;
}
.provider-bottom-header {
  p {
    float: $floatRight;
    border: 1px dashed rgba(255, 255, 255, 0.21);
    background: rgba(255, 255, 255, 0.11);
    color: #fff;
    display: block;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 4px;

    &:not(:first-child) svg {
      color: $mainHover;
      margin-right: 7px;
    }

    &:nth-child(3) {
      margin-right: 20px;
    }
  }
  p:first-child {
    float: $floatLeft;
    margin-bottom: 10px;
    line-height: 30px;
    border: none;
    background: none;
    svg {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      padding: 10px;
      background-color: #f75c96;
    }
  }
}

.provider-content {
  float: $floatLeft;
  width: 60%;
  margin-right: 5%;
  > div:not(:first-child) {
    display: none;
  }
  .provider-promo {
    width: 100%;
    border-radius: 10px;
    background-image: url(./images/48.jpg);
    background-size: cover;
    height: 80vh;
    position: relative;
    margin-bottom: 40px;
    button {
      background-color: #fff;
      border: none;
      cursor: pointer;
      @include boxShadow(4px);
      color: #7d93b2;
      padding: 10px 20px;
      border-radius: 50px;
      position: absolute;
      bottom: 30px;
      left: 30px;
      svg {
        margin-right: 30px;
        border-radius: 50%;
        padding: 10px;
        background-color: $mainHover;
        color: #fff;
        @extend %transition;
        margin-bottom: -9px;
      }
      span {
        padding: 10px 10px 10px 0px;
        display: inline-block;
        margin-bottom: 0;
      }
      &:hover {
        svg {
          background-color: $mainColor;
        }
      }
    }
  }
  .provider-description {
    margin-bottom: 40px;
    div {
      padding: 15px;
      p {
        color: #878c9f;
      }
    }
    & div:first-child {
      border: 1px solid #ddd;
      border-radius: 10px 10px 0 0;
      color: #566985;
      font-size: 15px;
      font-weight: 600;
      svg {
        float: $floatRight;
        font-size: 10px;
        color: $mainHover;
        margin-top: 7px;
      }
    }
    & div:last-child {
      border: 1px solid #ddd;
      border-radius: 0 0 10px 10px;
      border-top: none;
    }
    button {
      background-color: $mainColor;
      border: none;
      padding: 15px 25px;
      color: #fff;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      margin-top: 30px;
      svg {
        color: $mainHover;
        margin-left: 15px;
      }
    }
  }

  .provider-features {
    @extend .provider-description;
    div {
      @extend %ulStyle;
      ul {
        li {
          color: #878c9f;
          svg {
            color: $mainHover;
          }
        }
      }
    }
  }
  .provider-single-fact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    > div {
      background-color: #4db7fe;
      border-radius: 10px;
      width: 26%;
      padding: 20px;
      .fac {
        float: $floatLeft;
        width: 73%;
        color: #fff;
        p {
          font-size: 40px;
          font-weight: 700;
          margin: -10px 0 -15px;
        }
      }
      .icon {
        float: $floatLeft;
        width: 24%;
        color: rgba(255, 255, 255, 0.21);
        font-size: 50px;
        margin-left: 3%;
      }
    }
  }
  .provider-content > div:not(:first-child) {
    display: none;
  }
  // Post Component
  .posts {
    border: 1px solid #ccc;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    .post-img {
      border: 1px solid #ccc;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 5px 5px 0px #ccc;
      height: 490px;
    }
    .post-img img {
      width: 100%;
      height: 490px;
    }
    .post-describe {
      margin-top: 40px;
      h2 {
        color: #566985;
        margin-top: 0;
      }
      p {
        color: #878c9f;
      }
      hr {
        background-color: #ccc;
      }
      .post-info {
        span {
          color: #7d93b2;
          svg {
            color: $mainHover;
          }
        }
        button {
          float: $floatRight;
          background-color: $mainColor;
          color: #fff;
          border: none;
          padding: 12px 35px;
          border-radius: 10px;
          cursor: pointer;
          @extend %transition;
          svg {
            margin-left: 20px;
            color: $mainHover;
          }
          &:hover {
            background-color: $mainHover;
            svg {
              color: $mainColor;
            }
          }
        }
      }
    }
  }

  .gallery {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 50px;
    .gallery-img {
      border: 1px solid #ccc;
      border-radius: 10px;
      float: $floatLeft;
      width: 33.06%;
      height: 167px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      img {
        width: 100%;
        height: 167px;
      }
      .img-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $ratingHover;
        display: none;
        svg {
          position: absolute;
          top: 70px;
          left: 105px;
          padding: 10px;
          border-radius: 50%;
          background-color: $mainHover;
          color: #fff;
          @include boxShadow(5px);
        }
      }
    }

    .img-popup {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $mainOverLayColor;
      display: none;
      z-index: 9999;
      img {
        width: 700px;
        margin: 15vh 23vw;
      }
      svg {
        color: #fff;
        z-index: 20;
        font-size: 30px;
        position: absolute;
        right: 50px;
        top: 20px;
        cursor: pointer;
        @extend %transition;
        &:hover {
          color: $mainHover;
        }
      }
    }
  }
}
.provider-sidebar {
  float: $floatLeft;
  width: 35%;
  background-color: #ddd;
}

.active {
  color: $mainHover !important;
  display: block;
}
.view-post {
  nav {
    margin-bottom: 70px;
  }
  * {
    box-sizing: border-box;
    overflow: hidden;
  }
  .main-view-post {
    float: $floatLeft;
    width: 70%;
    .whole-post {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 40px;
      .img {
        border: 1px solid #ccc;
        border-radius: 10px;
        height: 550px;
        box-shadow: 0px 5px 5px 0px #ccc;
        margin-bottom: 40px;
        img {
          width: 100%;
          height: 550px;
        }
      }
      .str {
        p {
          color: #878c9f;
          line-height: 30px;
        }
        hr {
          background-color: #ccc;
        }
        .poster-info {
          margin-top: 25px;
          .avatar {
            float: $floatLeft;
            margin-right: 20px;
            background-color: $mainColor;
          }
          p {
            float: $floatLeft;
            margin-right: 30px;
            margin-top: 6px;
            svg {
              margin-right: 7px;
              color: $mainHover;
            }
          }
        }
      }
    }
    .posts-comments {
      margin-bottom: 40px;
      > div {
        padding: 15px;
        p {
          color: #878c9f;
        }
      }
      & > div:first-child {
        border: 1px solid #ddd;
        border-radius: 10px 10px 0 0;
        color: #566985;
        font-size: 15px;
        font-weight: 600;
        span {
          color: $mainHover;
          font-weight: 700;
        }
        svg {
          float: $floatRight;
          font-size: 10px;
          color: $mainHover;
          margin-top: 7px;
        }
      }
      & > div:last-child {
        border: 1px solid #ddd;
        border-radius: 0 0 10px 10px;
        border-top: none;
        .post-img {
          float: $floatLeft;
          width: 15%;
          .avatar {
            width: 85px;
            height: 85px;
            margin-left: 20px;
            font-size: 40px;
            margin-top: 25px;
            background-color: $mainColor;
          }
        }
        .comment {
          float: $floatRight;
          width: 82%;
          background-color: #f5f6fa;
          padding: 20px;
          border-radius: 10px;
          position: relative;
          overflow: visible;
          h3 {
            color: #566985;
            margin-top: 0;
          }
          p {
            margin-top: -10px;
          }
          hr {
            background-color: #e5e7f2;
          }
          svg {
            color: $mainHover;
            margin-right: 10px;
          }
          span {
            color: #878c9f;
          }
          &::before {
            content: '';
            display: block;
            width: 0;
            border-top: 15px solid transparent;
            border-right: 15px solid #f5f6fa;
            border-bottom: 15px solid transparent;
            position: absolute;
            top: 50px;
            left: -15px;
          }
        }
      }
    }
    .add-comments {
      @extend .posts-comments;
      textarea {
        background-color: #f5f6fa;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;
        display: block;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
      }
      button {
        padding: 10px 20px;
        background-color: $mainColor;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        @extend %transition;
        &:hover {
          background-color: $mainHover;
          svg {
            color: $mainColor;
          }
        }
        svg {
          margin-left: 20px;
          color: $mainHover;
        }
      }
    }
  }
  .sidebar-post {
    float: $floatLeft;
    width: 25%;
    margin-left: 5%;
    background-color: #ddd;
  }
}
/* =============================== End Provider Page =============================== */

/* =============================== Start Dashboard Page =============================== */

.dashboard {
  * {
    box-sizing: border-box;
  }
  .dashboard-header {
    background-color: #6db6fd;
    height: 40vh;
    position: relative;
    h3 {
      margin-top: 0;
      position: absolute;
      bottom: 0px;
      left: 200px;
      color: #fff;
    }
  }
  .dashboard-nav {
    background-color: #ccc;
    height: 15vh;
    position: relative;
    .dashboard-avatar {
      position: absolute;
      top: -65px;
      left: 60px;
      .avatar {
        width: 120px;
        height: 120px;
        font-size: 3.25em;
        border: 5px solid #fff;
        border-radius: 50%;
        background-color: $mainColor;
      }
    }
  }
  .main-dashboard {
    margin-top: 70px;
    .dashboard-sidebar {
      float: $floatLeft;
      width: 25%;
      margin-right: 5%;
      border: 1px solid #ccc;
      border-radius: 10px;
      overflow: hidden;

      div {
        cursor: pointer;
        padding: 20px;
        &:not(:nth-child(3)):not(:nth-child(5)):hover {
          background-color: $mainHover;
        }
        #fac:hover {
          background-color: $mainHover;
        }
      }
      .dash-show-add {
        display: none;
      }
      .dash-des {
        display: none;
      }
    }
    .dashboard-content {
      float: $floatLeft;
      width: 70%;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 10px;
      height: 2000px;
      > div:not(:first-child) {
        display: none;
      }
    }
  }
}

/* =============================== End Dashboard Page =============================== */

/* Start Footer */

.main-footer {
  background-color: #325096;
  overflow: hidden;
  * {
    box-sizing: border-box;
  }
}
.main-footer .subscribe .MuiContainer-maxWidthLg div {
  float: left;
}
.main-footer .subscribe .MuiContainer-maxWidthLg div:first-child {
  width: 35%;
  margin-right: 5%;
}
.main-footer .subscribe .MuiContainer-maxWidthLg div:last-child {
  width: 60%;
}
.main-footer .subscribe .MuiContainer-maxWidthLg div:last-child input {
  border: none;
  outline: none;
  width: 80%;
  border-radius: 50px;
  height: 39px;
  margin-top: 20px;
}
.subscribe {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 10px;
}
.subscribe h4 {
  color: #fff;
}
.subscribe h5 {
  color: rgba(163, 158, 158, 0.938);
  margin-top: -22px;
}
.subscribe h4 span {
  color: #3eaafd;
}

p {
  color: #fff;
}
.footer-news .contact ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-news .contact ul li {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.11);
  width: 70%;
  border-radius: 50px;
  margin-bottom: 10px;
  line-height: 20px;
}
.footer-news .contact ul li svg {
  color: #4db7fe;
  margin-right: 15px;
}
.footer-news .contact ul li span {
  color: #fff;
  vertical-align: super;
}

.footer-news {
  overflow: hidden;
}
.footer-news .MuiContainer-maxWidthLg > div {
  float: left;
  width: calc(100% / 3);
  padding: 10px;
}
.footer-news .last-news h3 {
  color: #fff;
  border-bottom: 1px solid #bbb;
  position: relative;
  padding-bottom: 25px;
}
.footer-news .last-news hr {
  border: none;
  height: 0.5px;
  background: #b5b5b56b;
}
.footer-news .last-news h3::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #4db7fe;
}
.footer-news .last-news > div > div {
  width: 25%;
  margin-right: 5%;
  overflow: hidden;
  float: left;
}
.footer-news .last-news > div > div:first-child img {
  width: 100%;
  border-radius: 5px;
}
.footer-news .last-news > div > div:last-child p {
  color: #fff;
}

.footer-news .last-news > div > div:last-child svg {
  color: #4db7fe;
  margin-right: 15px;
  width: 16px;
}
.footer-news .last-news > div > div:last-child {
  float: left;
  width: 65%;
}

.twitter {
  margin-right: 0%;
}
.footer-news .twitter h3 {
  color: #fff;
  border-bottom: 1px solid #bbb;
  position: relative;
  padding-bottom: 25px;
}
.footer-news .twitter h3::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #4db7fe;
}
.footer-news .twitter ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-news .twitter ul li {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.11);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  line-height: 20px;
  position: relative;
}
.footer-news .twitter ul li::after {
  content: '';
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.11);
  border-bottom: 10px solid transparent;
  display: block;
  width: 0;
  position: absolute;
  bottom: -20px;
  left: 70px;
}
.footer-news .twitter p {
  font-size: 11px;
  /* color: #fff;
    float: left;
    padding: 20px 22px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative; */
}
h1 {
  border: none;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #253966;
  padding: 20px;
}

/* End Footer */

/////////////////////////Show Component//////////////////////////////////////////////
// h1{
// color: #566985;
// }
.post-block {
  //height: 103px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 #ccc;
  clear: both;
  position: relative;
}

.post-img-div {
  float: left;
  width: 12%;
  overflow: hidden;
  height: 60px;
  margin-right: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;

  img {
    width: 100%;
    height: 60px;
  }
}
.post-descri-div {
  float: left;
  width: 60%;

  h4 {
    color: #566985;
    font-size: small;
    margin-top: 0;
  }
  p {
    color: #7d93b2;
    font-size: 12px;
    margin-block-start: -1em;
    display: block;
  }
}
.post-edit-delete {
  position: absolute;
  top: 10;
  right: 0;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 50px 0 0 50px;
  box-shadow: 5px 4px 5px #b1b1b1;
  p {
    position: absolute;
    z-index: 9999;
    color: #fff;
    background-color: $mainColor;
    padding: 10px 25px;
    display: none;
    &:first-of-type {
      top: -9px;
      right: 120px;
    }
    &:last-of-type {
      top: -9px;
      right: 60px;
    }
  }
  .edit-icon {
    background-color: #4db7fe;
  }
  .delete-icon {
    background-color: #fe4d65;
  }
  svg {
    color: #fff;
    width: 40px !important;
    height: 40px !important;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
}

/////////////////////////End Component//////////////////////////////////////////////
/*cooper style*/
.locate {
  position: absolute;
  top: 100px;
  right: 10px;
  background: none;
  border: none;
  z-index: 10;
  outline: none;
  img {
    height: 100px;
    width: 100px;
  }
}
